/day1/nodeProject/node_modules
/day1/nodeProject/package-lock.json
/day1/nodeProject/.env
/day2/node_modules
/day2/package-lock.json
/day2/.env
/day3/node_modules
/day3/package-lock.json
/day5/frontend/node_modules
/day5/frontend/package-lock.json
/day5/backend/node_modules
/day5/backend/package-lock.json
/day3/.env
day4/login/package-lock.json
day5/frontend/login_page/package-lock.json
